# 1. البيئة الافتراضية (مجلدات ثقيلة لا حاجة لرفعها)
venv/
env/

# 2. الملفات الحساسة والسرية (أهم جزء)
.env
firebase/serviceAccountKey.json

# 3. ملفات الكاش الخاصة بلغة بايثون (تتولد تلقائياً)
__pycache__/
*.pyc
*.pyo
*.pyd

# 4. ملفات النظام العشوائية
.DS_Store
Thumbs.db